<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Solar System</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Solar System Express App</h1>

    <nav>
      <a href="/">Home</a>

      <% planetNames.forEach((planet) => { %>
        <a href="/planet?planetName=<%= planet %>"><%= planet %></a>
      <% }) %>

      <a href="/nasa">NASA POD</a>
    </nav>
  </header>

  <main>